body { background-color:#FFFFFF; font-family:"Raleway", sans-serif; margin:0px; padding:0px; }
div.content { width:1200px; margin: auto; font-family: "Raleway", sans-serif; color:#565656; line-height: 25px; }

div.header { height:160px;  }
div.header .content { color:#FFFFFF; }
div.header .contacts { font-size: 0.75rem; font-weight:bolder; background-color: #6e5d56; padding:14px ; 
    height:20px; }
div.header .contacts span { padding:5px 10px; } 
div.header .menu { padding: 10px; text-align:center; }
div.header .menu a { float:left; color:#7e7d80; text-decoration: none; margin:40px 0 0 40px; text-transform:uppercase; 
                     font-size: 0.75rem; font-weight:bolder; }
                     
div.header .menu a.logo { margin:10px 80px 0 0; height:75px; width:75px; background: url(https://idental.lv/wp-content/uploads/2022/06/idental-logo.jpg) no-repeat; 
                            background-size: 75px; }
div.header .menu a.book { float: right; background-color: #6e5d56; border-radius:20px; color:#FFFFFF; padding:5px 15px; 
            position:relative; top:-10px; }




div.banner { clear:both; background-image: url(https://idental.lv/wp-content/uploads/2022/06/Main-bilde-iDental.jpeg); height: 250px;
            background-size:cover; background-position-y: 62%; }
div.banner h1 { font-size: 46px; font-weight: 300; color:#FFFFFF; line-height:46px; }
div.banner h3 { font-size: 32px; font-weight: 300; color:#FFFFFF; line-height:0px; }

h2 { font-size: 32px; margin:50px 0; font-weight: 300; line-height:38px; color:#555766;  text-align:center; }

div.intro { width:1052px; margin: auto; }
div.intro div { float: left; width:300px; color:#7e7d80; padding:0 25px; }
div.intro div.mid { border:1px solid #ececec; border-top:0px; border-bottom:0px; }
div.intro div h4 { color:#334c83; }

div.staff { width:1040px; margin: auto; }
div.staff div { float: left; width:200px; color:#777777; padding:0 30px; text-align:center; font-size:14px; line-height:20px; }
div.staff div b { display: block; margin:10px 0; }
div.staff div.clear { margin-top:40px; width:100%; }

h4 { font-size: 24px; }
h5 { font-size: 18px; margin:40px 0  20px 0;}

div.price { border-bottom:1px solid #AAAAAA; padding: 10px 0; }
div.price span { float: right; }
div.footer { background-color:#4a4a4a; font-size: 0.75rem; line-height:20px; margin-top:20px; padding: 10px 0; text-align: center; }
div.footer .content div { float:left; text-align:left; width:35%; color:#FFFFFF; }

div.footer a.book { float: right; background-color:#FFFFFF; border-radius:20px; color:#FFFFFF; padding:5px 15px; 
               text-decoration: none; font-weight: 600; color:#4a4a4a; }

a.icon { border: 1px solid #FFFFFF; border-radius:3px; padding: 3px 7px; color:#FFFFFF; text-decoration: none; }
div.clear { clear:both; width:100%; }

#bookForm { display: block; }
div.input { width:400px; padding: 5px; margin-bottom:20px; border:1px solid #6e5d56; border-radius: 10px;  }
input, select { width: 100%; border:none; background:#FFFFFF; }
input:focus, select:focus { outline: none; }

input.submit { width:200px; color:#FFFFFF; background:#6e5d56; border-radius: 10px; padding:10px; margin:10px 0px; }

img { width: 100%; }